<h3>Newsletter</h3>
<% function ValidateEmail(inputText)
{
var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
if(inputText.value.match(mailformat))
{
alert("Valid email address!");
document.newsletter-box.Email.focus();
return true;
}
else
{
alert("You have entered an invalid email address!");
document.newsletter-box.Email.focus();
return false;
}
} %>
<form class="newsletter-box">
    <div class="form-group">
        <input class="" type="email" name="email" id="email" placeholder="Email Address*" />
        <i class="fa fa-envelope"></i>
    </div>
    <button class="btn hvr-hover" type="submit" onclick="ValidateEmail(document.newsletter-box.Email)">Submit</button>
</form>