<!DOCTYPE html>
<html lang="en">
<!-- head include-->
<%- include('./partials/head.ejs');  %>
<body>
    <header>
        <!-- nav include-->
        <%- include('./partials/nav.ejs');  %>
    </header>
    <h1>404</h1>
    <p>Something went wrong</p>
    <!-- footer include-->
    <%- include('./partials/footer.ejs');  %>
</body>
</html>