<!DOCTYPE html>
<html lang="en">

<!-- head include-->
<%- include('./partials/head.ejs');  %>

<body>

    <!-- nav include-->
    <%- include('./partials/nav.ejs');  %>

    <!--log in-->
    <h1>Log in</h1>
    <!-- footer include-->
    <%- include('./partials/footer.ejs');  %>
</body>

</html>